<!doctype html>
<html lang="en">
  <head>

      <title>{{ page.title }} | {{ site.title }}</title>

  <meta http-equiv="X-UA-Compatible" content="IE=Edge"/>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />

  <link rel="stylesheet" media="all" type="text/css" href={{"/assets/static/css/iris.css" | relative_url }} >
  <link rel="stylesheet" media="print" type="text/css" href={{"/assets/static/css/print.css"  | relative_url }} >

  <link rel="shortcut icon" href={{"/assets/static/img/favicon.ico" | relative_url }} >

  <!-- Syntax highlighting: see https://help.github.com/articles/using-syntax-highlighting-on-github-pages/ -->

  </head>

  <body>
   <style>
      table{
       border-collapse: collapse;
       border-spacing: 0;
       border:1px solid #DDDDDD;
          }
     th{
       background-color:#c3c3c3;
       }
     td{
       border:1px solid #DDDDDD;
       }
      tr:nth-child(even) {background-color: #f9f9f9;}
   </style>
    
      <div class="container">
      <div class="container-inner">


  <header>
  <div id="header">
    <div id="header-left">
      <div id="logo">
        <a href="http://ds.iris.edu/hq/" title="IRIS">
            <img alt="IRIS" src={{"/assets/static/img/layout/logos/iris_logo_shadow.png"| relative_url }} >
        </a>
      </div>
      <div id="logo-name">
        Incorporated Research Institutions for Seismology
      </div>
    </div>
    <!-- #header-right -->
    <div id="header-right">
      <ul id="top-menu">
        {% if site.github.is_project_page %}
       <li>
         <a href="{{ site.github.url }}" title="HomeDoc">View Documentation Home Page</a>
       </li>
        {% endif %}
      </ul>
      <div id="nsf-logo">
        <a href="http://www.nsf.gov/" target="_blank" title="The National Science Foundation">
            <img alt="The National Science Foundation" src={{"/assets/static/img/layout/logos/nsf.png"| relative_url }} >
        </a>
      </div>
      <!-- #nsf -->
    </div>
    <div class="shadow-down"></div>
  </div>
  <!-- #header -->
  <!--Iris only meny  -->
</header>



      <div class="wrapper">

    <div id="page">
          <div id="page-content">
              <div id="content">
             {{ content }}
              </div>
          </div>
    </div>
      </div>
    <div id="footer">
    <div class="shadow-up"></div>
    <div id="footer-bottom">
      <ul>
          <li><span><a href="http://www.iris.edu/hq" title="IRIS"><img src={{"/assets/static/img/layout/logos/URL_TXT.png"| relative_url }} /></a></span></li>
        <li><em><a href="http://www.nsf.gov/" title="The National Science Foundation" target="_blank">Sponsored by the National Science Foundation</a></em></li>
        <li><a href="http://www.iris.edu/hq" title="IRIS">&copy; Copyright 2018 IRIS</a></li>
        <li>1200 New York Avenue NW, Suite 400, Washington, DC  20005,  202-682-2220</li>
        <li><a href="mailto:info@iris.edu">info@iris.edu</a></li>
      </ul>
    </div><!-- #footer-bottom -->
  </div><!-- #footer -->


      </div>
    </div><!-- #site-container -->

  </body>
</html>
